html {
    height: 100%;
    width: 100%;
}

h1{
    font-family: 'Segoe UI', Arial, sans-serif;
}

h1{
    color: rgba(197, 32, 32, 0.865);
    text-align: center;
}

body{
    background-color: rgb(255, 183, 160);
    font-family: 'Segoe UI';
}

.cats{
    max-width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.answerbuttons{
    text-align: center;
    word-spacing: 20px;
}

.links{
    text-decoration: none;
    color:rgba(197, 32, 32, 0.865);
    padding: 15px 25px;
    border: 2px solid rgba(197, 32, 32, 0.865);
    border-radius: 5px;
    background-color: rgb(255, 208, 146);
}

a:hover{
    color: rgb(152, 0, 0);
    border: 2px solid  rgb(152, 0, 0) ;
    background-color: rgb(214, 166, 103);
}
.answerbuttons a {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 24px; 
    text-decoration: none; 
}
/* Кнопка НЕТ (убегающая) */
.no-button {
    cursor: pointer;
    transition: 0.2s;
}

/* ДОЖДЬ ИЗ СЕРДЕЧЕК */
@keyframes fall {
    0% { transform: translateY(0) rotate(0deg); }
    100% { transform: translateY(100vh) rotate(360deg); }
}

/* ДОЖДЬ ИЗ ЛЕПЕСТКОВ */
@keyframes fallPetal {
    0% { transform: translateY(0) rotate(0deg); }
    100% { transform: translateY(100vh) rotate(200deg); }
}
/* ХЛОПУШКА */
@keyframes explode {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) translate(var(--x, 0px), var(--y, 0px)) scale(1);
    }
}
