html {
    height: 100%;
    width: 100%;
}

h1{
    font-family: 'Segoe UI', Arial, sans-serif;
}

h1{
    color: rgba(197, 32, 32, 0.865);
    text-align: center;
}

body{
    background-color: rgb(255, 183, 160);
    font-family: 'Segoe UI';
}

.cats{
    max-width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.answerbuttons{
    text-align: center;
    word-spacing: 20px;
}

.links{
    text-decoration: none;
    color:rgba(197, 32, 32, 0.865);
    padding: 15px 25px;
    border: 2px solid rgba(197, 32, 32, 0.865);
    border-radius: 5px;
    background-color: rgb(255, 208, 146);
}

a:hover{
    color: rgb(152, 0, 0);
    border: 2px solid  rgb(152, 0, 0) ;
    background-color: rgb(214, 166, 103);
}
.answerbuttons a {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 24px; /* можно настроить размер */
    text-decoration: none; /* убрать подчеркивание */
}